# Sparkify Churn Prediction

## 1. Load and clean dataset
Loading and cleaning the dataset, checking for invalid or missing data - for example, records without user IDs or session IDs.

In [21]:
# Import libraries
from pyspark.sql import SparkSession
import pandas as pd

In [22]:
# Create spark session
spark = SparkSession \
    .builder \
    .appName('Sparkify') \
    .getOrCreate()

In [24]:
# Read in full sparkify dataset

# event_data = 's3n://udacity-dsnd/sparkify/sparkify_event_data.json'
# event_data = 's3n://udacity-dsnd/sparkify/mini_sparkify_event_data.json'
event_data = 'mini_sparkify_event_data.json'
df = spark.read.json(event_data)

In [38]:
print('df shape:', (df.count(), len(df.columns)))

df shape: (286500, 18)

In [25]:
df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [20]:
df.limit(5).toPandas().head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Martha Tilston,Logged In,Colin,M,50,Freeman,277.89016,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Rockpools,200,1538352117000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
1,Five Iron Frenzy,Logged In,Micah,M,79,Long,236.09424,free,"Boston-Cambridge-Newton, MA-NH",PUT,NextSong,1538331630000,8,Canada,200,1538352180000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",9
2,Adam Lambert,Logged In,Colin,M,51,Freeman,282.82730,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Time For Miracles,200,1538352394000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30
3,Enigma,Logged In,Micah,M,80,Long,262.71302,free,"Boston-Cambridge-Newton, MA-NH",PUT,NextSong,1538331630000,8,Knocking On Forbidden Doors,200,1538352416000,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",9
4,Daft Punk,Logged In,Colin,M,52,Freeman,223.60771,paid,"Bakersfield, CA",PUT,NextSong,1538173362000,29,Harder Better Faster Stronger,200,1538352676000,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30

In [27]:
df.describe().toPandas()

,summary,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,count,228108,286500,278154,278154,286500,278154,228108,286500,278154,286500,286500,278154,286500,228108,286500,286500,278154,286500
1,mean,551.0852017937219,None,None,None,114.41421291448516,None,249.1171819778458,None,None,None,None,1.5353588340844272E12,1041.526554973822,Infinity,210.05459685863875,1.5409568898104834E12,None,59682.02278593872
2,stddev,1217.7693079161374,None,None,None,129.76726201140994,None,99.23517921058361,None,None,None,None,3.291321616327586E9,726.7762634630741,NaN,31.50507848842214,1.5075439608226302E9,None,109091.9499991047
3,min,!!!,Cancelled,Adelaida,F,0,Adams,0.78322,free,"Albany, OR",GET,About,1521380675000,1,ÃÂg ÃÂtti GrÃÂ¡a ÃÂsku,200,1538352117000,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10)...",
4,max,ÃÂlafur Arnalds,Logged Out,Zyonna,M,1321,Wright,3024.66567,paid,"Winston-Salem, NC",PUT,Upgrade,1543247354000,2474,ÃÂau hafa sloppiÃÂ° undan ÃÂ¾unga myrkursins,404,1543799476000,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,99

In [33]:
df_valid = df.dropna(how = 'any', subset = ['userId', 'sessionId'])
df_valid.count()

286500

In [43]:
df.select('userId').dropDuplicates().sort('userId').show()

+------+
|userId|
+------+
|      |
|    10|
|   100|
|100001|
|100002|
|100003|
|100004|
|100005|
|100006|
|100007|
|100008|
|100009|
|100010|
|100011|
|100012|
|100013|
|100014|
|100015|
|100016|
|100017|
+------+
only showing top 20 rows

In [39]:
df_valid = df_valid.filter(df_valid['userId'] != '')

print('There are {} rows with empty user IDs, so they will be removed.'.format(df.count() - df_valid.count()))
print('df_valid shape:', (df_valid.count(), len(df_valid.columns)))

There are 8346 rows with empty user IDs, so they will be removed.
df_valid shape: (278154, 18)

## 2. Exploratory Data Analysis

### Defining Churn
Once you've done some preliminary analysis, create a column `Churn` to use as the label for your model. I suggest using the `Cancellation Confirmation` events to define your churn, which happen for both paid and free users. As a bonus task, you can also look into the `Downgrade` events.

### Exploring Data
Once you've defined churn, perform some exploratory data analysis to observe the behavior for users who stayed vs users who churned. You can start by exploring aggregates on these two groups of users, observing how much of a specific action they experienced per a certain time unit or number of songs played.

In [99]:
def group_by_count_column(df, column):
    """Perform a group by and count the values from a desired column.
    
    Parameters:
        df (Spark dataframe): The dataframe that contains the column.
        column (String): The name of the column, from the df, to perform the group by and count its values.
    
    Returns:
        None.
    """
    
    df.select(column).groupby(column).count().orderBy('count', ascending=False).show(truncate=False)
    
    return

In [97]:
categorical_columns = ['artist', 'auth', 'gender', 'method', 'page', 'song', 'status']

for column in categorical_columns:
        group_by_count_column(df_valid, column)

+----------------------+-----+
|artist                |count|
+----------------------+-----+
|null                  |50046|
|Kings Of Leon         |1841 |
|Coldplay              |1813 |
|Florence + The Machine|1236 |
|Dwight Yoakam         |1135 |
|BjÃÂ¶rk              |1133 |
|The Black Keys        |1125 |
|Muse                  |1090 |
|Justin Bieber         |1044 |
|Jack Johnson          |1007 |
|Eminem                |953  |
|Radiohead             |884  |
|Alliance Ethnik       |876  |
|Train                 |854  |
|Taylor Swift          |840  |
|OneRepublic           |828  |
|The Killers           |822  |
|Linkin Park           |787  |
|Evanescence           |781  |
|Harmonia              |729  |
+----------------------+-----+
only showing top 20 rows

+---------+------+
|auth     |count |
+---------+------+
|Logged In|278102|
|Cancelled|52    |
+---------+------+

+------+------+
|gender|count |
+------+------+
|F     |154578|
|M     |123576|
+------+------+

+------+------+
|method|count |
+------+------+
|PUT   |257818|
|GET   |20336 |
+------+------+

+-------------------------+------+
|page                     |count |
+-------------------------+------+
|NextSong                 |228108|
|Thumbs Up                |12551 |
|Home                     |10082 |
|Add to Playlist          |6526  |
|Add Friend               |4277  |
|Roll Advert              |3933  |
|Logout                   |3226  |
|Thumbs Down              |2546  |
|Downgrade                |2055  |
|Settings                 |1514  |
|Help                     |1454  |
|Upgrade                  |499   |
|About                    |495   |
|Save Settings            |310   |
|Error                    |252   |
|Submit Upgrade           |159   |
|Submit Downgrade         |63    |
|Cancel                   |52    |
|Cancellation Confirmation|52    |
+-------------------------+------+

+-------------------------------------------------------------------+-----+
|song                                                               |count|
+-------------------------------------------------------------------+-----+
|null                                                               |50046|
|You're The One                                                     |1153 |
|Undo                                                               |1026 |
|Revelry                                                            |854  |
|Sehr kosmisch                                                      |728  |
|Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)|641  |
|Dog Days Are Over (Radio Edit)                                     |574  |
|Secrets                                                            |466  |
|Use Somebody                                                       |459  |
|Canada                                                             |435  |
|Invalid                                                            |424  |
|Ain't Misbehavin                                                   |409  |
|ReprÃÂ©sente                                                      |393  |
|SinceritÃÂ© Et Jalousie                                           |384  |
|Catch You Baby (Steve Pitron & Max Sanna Radio Edit)               |373  |
|Yellow                                                             |343  |
|Somebody To Love                                                   |343  |
|Hey_ Soul Sister                                                   |334  |
|The Gift                                                           |327  |
|Fireflies                                                          |312  |
+-------------------------------------------------------------------+-----+
only showing top 20 rows

+------+------+
|status|count |
+------+------+
|200   |254718|
|307   |23184 |
|404   |252   |
+------+------+

## 3. Feature Engineering
Once you've familiarized yourself with the data, build out the features you find promising to train your model on. To work with the full dataset, you can follow the following steps.

- Write a script to extract the necessary features from the smaller subset of data
- Ensure that your script is scalable, using the best practices discussed in Lesson 3
- Try your script on the full data set, debugging your script if necessary

If you are working in the classroom workspace, you can just extract features based on the small subset of data contained here. Be sure to transfer over this work to the larger dataset when you work on your Spark cluster.

## 4. Modeling
Split the full dataset into train, test, and validation sets. Test out several of the machine learning methods you learned. Evaluate the accuracy of the various models, tuning parameters as necessary. Determine your winning model based on test accuracy and report results on the validation set. Since the churned users are a fairly small subset, I suggest using F1 score as the metric to optimize.

## 5. Final Steps
Clean up your code, adding comments and renaming variables to make the code easier to read and maintain. Refer to the Spark Project Overview page and Data Scientist Capstone Project Rubric to make sure you are including all components of the capstone project and meet all expectations. Remember, this includes thorough documentation in a README file in a Github repository, as well as a web app or blog post.